header {
    position: fixed;
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    z-index: 2;
}

header img {
    width: 230px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 90px;
}

header nav ul li {
    cursor: pointer;
}

header nav ul li:hover {
    color: #beff1b;
    border-bottom: solid 2px #beff1b;
}

section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;
}

section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
}

section .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    border-top: 1px solid #fff;
}

section .item {
    position: absolute;
    inset: 0;
}

section .car-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    width: 70%;
}

section .car-image img {
    width: 80%;
    transform: rotate(-20deg);
}

section .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 50px;
}

section .car-information {
    font-weight: bold;
}

section h2 {
    font-size: 5em;
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
    letter-spacing: 7px;
}

section .description {
    color: #d9d9d9;
    font-size: 13px;
    text-align: right;
    max-width: 400px;
}

section .information-btn {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #791fd3;
    background-color: #beff1b;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    font-family: "League Gothic", sans-serif;
}

section .information-btn:hover {
    color: #fff;
    transition: 0.3s;
}

section .indicators {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    height: 130px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

section .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

section ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

section ul li {
    width: 50px;
    height: 5px;
    background-color: #beff1b;
    border-radius: 5px;
    transition: 0.5s;
}

section ul .active {
    background-color: #fff;
    transition: 0.3s;
}

section .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20px);
    display: flex;
    justify-content: space-between;
}

section .arrows button:nth-child(1) img {
    transform: scale(-1);
}

section .arrows button {
    top: 60%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

section .arrows button:hover {
    background-color: #beff1b;
    transition: 0.3s;
}

section .arrows button img {
    margin-top: 4px;
    width: 20px;
    cursor: pointer;
}

section .list {
    --calculation: 1;
}

section .list .item {
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.5s;
    opacity: 0;
}

section .list .item .car-image img {
    transform: rotate(0);
    transition: 0.5s;
    transition-delay: 0.3s;
}

section .list .item .car-image::before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100px;
    top: 150%;
    left: 50px;
    border-radius: 50%;
    filter: blur(50px);
}

section .content .car-information,
section .content h2,
section .content .description,
section .content .information {
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}

section .content h2 {
    transition-delay: 0.5s;
}

section .content .description {
    transition-delay: 0.7s;
}

section .content .information {
    transition-delay: 0.9s;
}

section .list .active {
    transform: translateX(0);
    transition: 0.5s;
    opacity: 1;
}

section .list .active .car-image img {
    transform: rotate(-20deg);
}

section .list .active .content .car-information,
section .list .active .content h2,
section .list .active .content .description,
section .list .active .content .information {
    transform: translateX(0);
    opacity: 1;
}